@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section Scripts {
    <script>
        if (localStorage.getItem("site_access")) {
  window.location = "/main.html"
}
async function checkCode() {
  const code = document.getElementById("code").value

  const res = await fetch("https://cariysgrjyouubotztay.supabase.co/functions/v1/validate-code", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ code })
  })

  const data = await res.json()

  if (data.success) {
    localStorage.setItem("site_access", "true")
    window.location = "/main.html"
  } else {
    alert("Wrong code")
  }
}
    </script>
}